.cat__main {
    margin-left: 10px;
    margin-right: 10px;


    margin-top: 20px;
}

.nav__cat {
    display: flex;
    align-items: center;
}

.nav__cat svg {
    font-size: 25px;
}

.nav__cat span {
    font-size: 18px;
    margin-left: 10px;
    font-weight: 500;
}