.nav__bar {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    position: sticky;
    z-index: 999;

}

.image__wrapper {
    position: relative;
}


.back__btn {
    margin-left: 15px;
    margin-top: 7px;
    border: 1px solid white;
    background: black;
    border-radius: 22px;
    padding-left: 3px;
    padding-right: 2px;
    padding-top: 2px;
}

.back__btn svg {
    font-size: 30px;
    color: white;
}



.edit__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit__btn span {
    font-weight: 600;
    margin-left: 10px;
}

.edit__btn svg {
    font-size: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
    padding-top: 65px;
    background-color: #242526;
}

.cool__down__msg {
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
    text-align: center;

    color: #e3ff00;
}

.profile__img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 0 3px #ffffffd1;
}

.profile__name {
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 10px;
}

.user__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-transform: uppercase;
}

.user__details__title {
    font-size: 12px;
    font-weight: 800;
}

.user__details__desc {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.user__posts {
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 80px;
}


.top__section__ {
    position: relative;
}

.cover__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    object-fit: cover;
    z-index: 1;
}

.cover__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio__section {
    padding: 10px;

}

.bio__section p {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
}