:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242526;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rtf {
  right: 0 !important;
}

.rhap_container {
  box-shadow: none !important;
}

.rtf--ab__c>span {
  opacity: 100 !important;
}

.recording {
  width: 100%;
}

.rhap_main-controls-button {
  color: #fff;
}

.audio-recorder {
  margin-top: 10px;
  width: 100% !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}

.rhap_progress-filled {
  background-color: #0ba373;
}

.rhap_container {
  background-color: transparent;
}

.rhap_time {
  color: #fff;
}

.rhap_container svg {
  /* display: none; */
  color: white;
}

.notice___terms {
  color: #fff;
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
}

.main__terms {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  font-family: Arial, sans-serif;

  line-height: 1.6;
}

.main__terms h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.main__terms h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main__terms p {
  margin-bottom: 15px;
  color: #ffffffdd;
}

.main__terms ol {
  margin-bottom: 15px;
  padding-left: 20px;
}